<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="com.example.communication.dao.QuestionDao">
    <!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
       resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表
     -->

    <!--插入数据-->
    <insert id="insertQuestion" parameterType="com.example.communication.model.Question">
        insert into question(
        title,
        description,
        gmt_create,
        gmt_modified,
        creator,
        comment_account,
        view_account,
        like_account,
        tag) values
        (#{title}, #{description}, #{gmtCreate}, #{gmtModified},
        #{creator}, #{commentAccount}, #{viewAccount}, #{likeAccount}, #{tag});
    </insert>

    <!--查询数据-->
    <select id="queryQuestionAll" resultType="com.example.communication.model.Question">
        select title as title,
        description as description,
        gmt_create as gmtCreate,
        gmt_modified as gmtModified,
        creator as creator,
        comment_account as commentAccount,
        view_account as viewAccount,
        like_account as likeAccount,
        tag as tag
        from question;
    </select>

</mapper>
