.profile .section{
    margin-top: 15px;
}

.toolStyle{
    font-size:12px;
    margin-top:10px;
    color:#c9cccf;
}

.contextStyle{
    font-size:18px;
}

.commentBut{
    margin-bottom:15px;
    float:right;
    margin-top:15px;
}

.menu .iconStyle{
    font-size:20px;
    margin:7px;
}

.iconSelect:hover {
    color: #499ef3;
}