<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>错误页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel = "stylesheet" href="/css/bootstrap.min.css"/>
    <link rel = "stylesheet" href="/css/bootstrap-theme.min.css"/>
    <script src = "/js/jquery-3.6.0.min.js"></script>
    <script src = "/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
    <div class="jumbotron" style="margin:30px; margin-top:250px">
        <h1 th:text="${message}"></h1>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">返回首页</a></p>
    </div>
</body>
</html>